#!/bin/bash

if ! command -v brew >/dev/null 2>&1; then
  echo
  echo ">>>brew package manager could not be found, starting installation"
  echo
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brew.level0 -}}
brew {{ . | quote }}
{{ end -}}
EOF
