#!/bin/bash

{{ if ge .level 3 -}}

{{- $steamFlatpak := output "sh" "-c" "flatpak list --app --columns=application | grep 'Steam' || true" -}}
{{- if ne $steamFlatpak "" -}}

echo
echo ">>> Flatpak Steam installation detected, installing krunner plugin"
echo

mkdir build

git clone https://github.com/9Maverick/krunner-steam-flatpak $HOME/build/krunner-steam-flatpak

(
  cd $HOME//build/krunner-steam-flatpak
  ./install.sh
)

{{- end -}}
{{- end -}}
