#!/bin/bash

{{- if ge .level 3}}

save_dir={{- .chezmoi.sourceDir -}}/system-level

{{if (and (ge .level 3) (hasKey .files.system "level3"))}}
{{ range .files.system.level3 -}}

sudo mkdir -p $(dirname {{ . -}})
sudo cp $save_dir{{- . }} {{ . }}

{{end}}
{{end}}

{{- end -}}
