#!/bin/bash

if ! command -v docker >/dev/null 2>&1; then
  echo
  echo ">>> Docker could not be found, starting installation"
  echo
  if [[ $ID =~ ^(centos|fedora|rhel|rocky|ubuntu|debian|raspbian)$ ]]; then
    sudo sh -c "$(curl -fsLS get.docker.com)" -- --no-autostart || true
    echo
    sudo usermod -aG docker $USER
  else
    # Assume niche distro has docker in native package manager, but with safeguard in case its not
    packinstall docker || true
  fi
fi
