#!/bin/bash

if ! command -v brew >/dev/null 2>&1; then
  echo
  echo ">>>brew package manager could not be found, starting installation"
  echo
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  echo
fi

brew install gcc
echo
brew doctor
echo

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brew.brews.level0 -}}
brew {{ . | quote }}
{{ end -}}
{{- if ge .level 1}}
  {{ range .packages.brew.brews.level1 -}}
brew {{ . | quote }}
  {{ end -}}
{{ end }}
{{- if ge .level 2}}
  {{ range .packages.brew.brews.level2 -}}
brew {{ . | quote }}
  {{ end -}}
{{ end }}
{{- if ge .level 3}}
  {{ range .packages.brew.brews.level3 -}}
brew {{ . | quote }}
  {{ end -}}
{{ end }}
{{ range .packages.brew.casks.level0 -}}
cask {{ . | quote }}
{{ end -}}
{{- if ge .level 1}}
  {{ range .packages.brew.casks.level1 -}}
cask {{ . | quote }}
  {{ end -}}
{{ end }}
{{- if ge .level 2}}
  {{ range .packages.brew.casks.level2 -}}
cask {{ . | quote }}
  {{ end -}}
{{ end }}
{{- if ge .level 3}}
  {{ range .packages.brew.casks.level3 -}}
cask {{ . | quote }}
  {{ end -}}
{{ end }}
EOF
