#!/bin/bash

if ! command -v packinstall >/dev/null 2>&1; then
  echo
  echo ">>>packinstall could not be found, starting installation"
  echo
  curl -fsSL https://raw.githubusercontent.com/9Maverick/Packinstall/main/install.sh | bash
  echo
fi


{{if (and (ge .level 0) (hasKey .packages.native "level0"))}}
{{ range .packages.native.level0 -}}
packinstall {{ . }}
{{- end -}}
{{- end -}}
{{if (and (ge .level 1) (hasKey .packages.native "level1"))}}
{{ range .packages.native.level1 -}}
packinstall {{ . }}
{{- end -}}
{{- end -}}
{{if (and (ge .level 2) (haskey .packages.native "level2"))}}
{{ range .packages.native.level2 -}}
packinstall {{ . }}
{{- end -}}
{{- end -}}
{{if (and (ge .level 3) (hasKey .packages.native "level3"))}}
{{ range .packages.native.level3 -}}
packinstall {{ . }}
{{- end -}}
{{- end -}}
