#!/bin/bash

if ! command -v brew >/dev/null 2>&1; then
  echo
  echo ">>>brew package manager could not be found, starting installation"
  echo
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  echo
fi

echo
brew doctor
echo

brew bundle --file=/dev/stdin <<EOF
{{if (and (ge .level 0) (hasKey .packages.brew.brews "level0"))}}
  {{ range .packages.brew.brews.level0 -}}
brew {{ . | quote }}
  {{ end -}}
{{ end }}
{{if (and (ge .level 1) (hasKey .packages.brew.brews "level1"))}}
  {{ range .packages.brew.brews.level1 -}}
brew {{ . | quote }}
  {{ end -}}
{{ end }}
{{if (and (ge .level 2) (hasKey .packages.brew.brews "level2"))}}
  {{ range .packages.brew.brews.level2 -}}
brew {{ . | quote }}
  {{ end -}}
{{ end }}
{{if (and (ge .level 3) (hasKey .packages.brew.brews "level3"))}}
  {{ range .packages.brew.brews.level3 -}}
brew {{ . | quote }}
  {{ end -}}
{{ end }}
{{if (and (ge .level 0) (hasKey .packages.brew.casks "level0"))}}
  {{ range .packages.brew.casks.level0 -}}
cask {{ . | quote }}
  {{ end -}}
{{ end }}
{{if (and (ge .level 1) (hasKey .packages.brew.casks "level1"))}}
  {{ range .packages.brew.casks.level1 -}}
cask {{ . | quote }}
  {{ end -}}
{{ end }}
{{if (and (ge .level 2) (hasKey .packages.brew.casks "level2"))}}
  {{ range .packages.brew.casks.level2 -}}
cask {{ . | quote }}
  {{ end -}}
{{ end }}
{{if (and (ge .level 3) (hasKey .packages.brew.casks "level3"))}}
  {{ range .packages.brew.casks.level3 -}}
cask {{ . | quote }}
  {{ end -}}
{{ end }}
EOF
