#!/bin/bash

echo
echo "TEST LEVEL:"
echo {{ .chezmoi.level | quote}}
echo

if ! command -v brew >/dev/null 2>&1; then
  echo
  echo ">>>brew package manager could not be found, starting installation"
  echo
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  echo
fi

brew install gcc
echo
brew doctor
echo

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brew.level0 -}}
brew {{ . | quote }}
{{ end -}}
EOF
